PySide6
PySide6-stubs
PySideSix-Frameless-Window
darkdetect
colorthief
scipy
pillow
numpy
pyqtgraph
pandas
numba
ccxt
PyOpenGL
cython
dotenv
# ipython
# matplotlib
# matplotlib-inline
multitasking
pandas-datareader
pyarrow
setuptools
streamlit
polars[all]
cryptofeed[all]
polars-lts-cpu
python-rapidjson
humanize
#polars-ta
# pip install 'polars[all]'
# TA-Lib==0.4.28
# yfinance==0.2.40

